
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");

body {  
    font-family: Helvetica, Arial;
    background-color:#ffffff; 
    margin:0px 
}

#wrap > .container {
    padding: 0px 15px 0;
}

.row:before, .row:after
{
    display:none;
    content:"";
}

.form-control {
    color:#801c78;
    background-color: #f2e8f1;
    border: 1px solid #801c78;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nopadding-left {
   padding-left:0px !important;
   margin-left:0 !important;
}

.nopadding-right {
   padding-right:0px !important;
   margin-right:0 !important;
}


.fixed-height
{
    height:40px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    word-break: break-all; 
    word-wrap:break-word;
}

.h4
{
    overflow: hidden; 
    display:inline;
    min-width:100px;
}

.h5
{
    overflow: hidden; 
    display:inline;
    min-width:100px;
}

.p
{
    overflow: hidden; 
    display:inline;
    min-width:100px;
}

.list
{
    margin:0px;
}

.list ul
{
	height: 450px;
	margin:10px 0 10px 0;
	padding: 0;
	overflow-y: scroll;
    list-style: none;
    /*box-shadow:inset 1px 2px 6px #070707;*/

	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}

.queuelist ul
{
	height: 120px;
	margin:10px 0 10px 0;
	padding: 0;
	overflow-y: scroll;
    list-style: none;
    /*box-shadow:inset 1px 2px 6px #070707;*/

	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}

.curl 
{
  margin:0;
  background-color: #ffffff;
}

.curl li 
{
  display:block-inline;
  height:42px;
  border:1px solid #ffffff;
}
.curl li:hover
{
    -moz-box-shadow: inset 0 0 1px #2d2f31;
    -webkit-box-shadow: inset 0 0 1px #2d2f31;
    box-shadow: inner 0 0 1px #2d2f31;
    cursor:pointer;
}

.list-group-item 
{
    padding:0px;
    margin-bottom: -1px;
    border: 1px solid #dddddd;
    table-layout: fixed;
}

.queue li {
    height: 30px;
    border: 1px solid #ffffff;
}

.fa { 
    font-size: 24px; 
    position: absolute;
    outline: none; 
    margin-top:8px; 
    color:#fff 
}

li  { 
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease; 
}

/* Facebook */
li .fa-phone-square i { color:#2d2f31; }

.image_container
{  
    display:block;
    height:40px;
    margin-left:-3px;
}

.list-group-item-heading 
{
    margin-top: 2px;
    margin-bottom: 0px;
}
.text-middle
{
   float:left;
   padding:0px; 
}

.header
{
    border-bottom:1px solid #468847;
    padding:0px;  
}

.badge {
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge-avail {
  background-color: #468847;
}
.badge-avail:hover {
  background-color: #356635;
}

.badge-nonavail {
  background-color: #b94a48;;
}
.badge-nonavail:hover {
  background-color:#953b39;
}
